In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('submission.csv')
df2 = pd.read_csv('submission5.csv')

In [3]:
df1

        RevId    Rating
0      781115  0.994240
1     1219481  0.003210
2     1703765  0.988814
3     4870346  0.364238
4     2638711  0.857185
...       ...       ...
5098  1025826  0.978212
5099  1278470  0.172591
5100  2565212  0.123306
5101  3766155  0.983277
5102  1070891  0.978601

[5103 rows x 2 columns]

In [4]:
df2

        RevId    Rating
0      781115  0.005516
1     1219481  0.173509
2     1703765  0.970369
3     4870346  0.099506
4     2638711  0.996677
...       ...       ...
5098  1025826  0.993325
5099  1278470  0.986191
5100  2565212  0.020083
5101  3766155  0.405525
5102  1070891  0.957312

[5103 rows x 2 columns]